a:link:not(.browser-window *),
a:visited:not(.browser-window *) {
    color: inherit !important;
    text-decoration: none;
}

a:hover:not(.browser-window *),
a:active:not(.browser-window *) {
    opacity: 0.85;
}

.bold-links a:link {
    font-weight: 500;
}

.arrow-links a:link:not(.auto-link)::after {
    content: "north_east";
    font-family: "Material Icons";
    font-weight: 100;
    vertical-align: -10%;
}